* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.moviesListContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.movieContainer {
  width: 25%;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.movieImage {
  width: 100%;
}

.movieOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 20px;
}

.movieContainer:hover .movieOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.posterBackground {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.detailsContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.movieDetailsPoster {
  border: 4px solid white;
  margin: 40px 20px 0 50px;
}

.movieDetailsContainer {
  display: flex;
}

.movieDetailsText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movieDetailsText p {
  max-width: 400px;
}

.rating {
  color: red;
  font-weight: 400;
  font-size: 17px;
}

.errorContainer {
  display: grid;
  place-items: center;
  width: auto;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 50px;
  width: 50px;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
  border-left: 5px solid #ffff;
  animation: spinner infinite 0.6s;
  display: inline-block;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  13% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  38% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  63% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  88% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.goBackContainer {
  margin: 50px;
}

.backButton {
  position: absolute;
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.svgBack {
  height: 28px;
  width: 28px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.goBack {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 5px 4px;
}

.goBackContainer:hover .goBack {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateX(5px);
}

@media (max-width: 767px) {
  .moviesListContainer {
    display: block; 
  }
  .movieContainer {
    width: 100%; 
    margin-bottom: 10px;
  }
  .movieOverlay {
    position: static; 
    display: none; 
    padding: 10px; 
  }
  .movieContainer:hover .movieOverlay {
    display: none; 
  }
  .movieDetailsPoster {
    margin: 20px 10px 0 10px;
  }
  .goBackContainer {
    margin: 50px; 
  }
  .goBack {
    font-size: 14px; 
    margin: 5px 2px; 
  }
  .svgBack {
    height: 15px;
    width: 15px;
  }
  .movieDetailsContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .movieDetailsPoster {
    width: 80%; 
    margin: 20px 0; 
  }
  .movieDetailsText {
    align-items: center;
    padding: 5px;
  }
}
